<nav class="navbar navbar-dark justify-content-between" style="background-color: white;">
  <a class="navbar-brand" href="#">
<!--     <%= cl_image_tag "martini-logo", width: 40, height: 40 %> The Fitz -->
  The Fitz
  </a>
  <div class="link-to-new-cocktail">
  <%= link_to "Create a new cocktail", new_cocktail_path %>
  </div>
</nav>

<div class="cocktails-container">
  <% @cocktails.each do |cocktail| %>
    <%= link_to cocktail.name , cocktail_path(cocktail) %>
  <% end %>
</div>




