<div class="title">
  <h1>Cocktails</h1>
</div>

  <div class="card" style="width: 18rem;">
    <% @cocktails.each do |cocktail| %>
    <img src="https://source.unsplash.com/1600x900/?cocktail" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text"><%= link_to cocktail.name , cocktail_path(cocktail) %></p>
    </div>
    <% end %>
  </div>



<%= link_to "Create a new cocktail", new_cocktail_path %>
