// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body  {
  background-color:#FCEDE6
}

.img-cocktail {
  display:flex;
  justify-content:center
}

.img-cocktail img {

    width: 300px;
}
